/*MIXINS Section*/
/*MEDIA QUERY FOR RESPONSIVE DESIGN*/
/*
0-600px: phone
600-900: tablet/portrait
900-1200: tablet/landscape
1200-1800: Normal styles
1800+: Large desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
/*BOX SHADOWS*/
/*INITIAL PROJECT SETTINGS*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/*MEDIA QUERIES*/
html {
  font-size: 62.5%;
  /* 1 rem is 10px(defaut viewport) | 100% = 16px 10/16 = .625 = 62.5% for 10px */ }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

/*BASELINE SETTINGS*/
body {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.container {
  display: grid;
  grid-template-rows: 55vh repeat(5, min-content);
  grid-template-columns: [full-start] repeat(10, [col-start] minmax(min-content, 15rem) [col-end]) [full-end];
  background-color: #faf9f9; }
  @media only screen and (max-width: 37.5em) {
    .container {
      grid-template-rows: 35vh repeat(5, min-content); } }

::selection {
  background-color: #b08cf4;
  color: #f7f1a8; }

/*REUSEABLE HEADINGS and PARAGRAPH CLASSES*/
.heading-primary {
  color: #fff;
  backface-visibility: hidden;
  margin-bottom: 4rem; }
  .heading-primary--main {
    display: inline-block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: .25rem; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 3.5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: .35rem; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 2rem; } }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  display: inline-block;
  color: #fff;
  letter-spacing: .2rem;
  border-bottom: 2px solid #f7f1a8; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin-bottom: 2rem; }

.paragraph {
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
  text-align: center; }

/*REUSABLE HELPER CLASSES*/
.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      padding: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      padding: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

/*REUSEABLE BUTTON*/
.btn-inline, .btn-inline:link, .btn-inline:visited {
  border: none;
  outline: none;
  background-image: linear-gradient(to right, #b08cf4, #f7f1a8);
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  border-radius: 3rem;
  margin: 1rem 2rem 0;
  transition: all .2s;
  position: relative;
  font-size: 1.8rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer; }

.btn-inline:hover, .btn-inline:focus {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

/*PAGE FOR GENIE'S BIO*/
.genies {
  grid-column: 1 / span 10; }

.genie {
  background-color: #b08cf4a8;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  margin: 6rem 3rem;
  padding-bottom: 4rem;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  /*Container Styling*/
  /*Elements Stlying*/
  /*Private Reading Form*/ }
  @media only screen and (max-width: 75em) {
    .genie {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center; } }
  .genie-heading {
    margin: 3rem 0;
    grid-column: 1 / span 3; }
    @media only screen and (max-width: 75em) {
      .genie-heading {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center; } }
  .genie__blog--heading {
    font-size: 2rem;
    margin: 0 0 1.5rem 0;
    border-bottom: none;
    color: #333;
    display: grid;
    justify-content: center; }
    @media only screen and (max-width: 56.25em) {
      .genie__blog--heading {
        font-size: 2.5rem; } }
  .genie__quote {
    margin-top: 2rem;
    font-style: italic;
    font-size: 1.8rem;
    color: #333; }
    @media only screen and (max-width: 75em) {
      .genie__quote {
        font-size: 2rem; } }
  .genie__container {
    background-color: #f7f1a8a8;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 3rem 1rem;
    margin: 5rem 2rem;
    justify-content: space-evenly; }
    @media only screen and (max-width: 37.5em) {
      .genie__container {
        margin: 3rem 0; } }
    .genie__container--img {
      padding: 4rem 3rem;
      width: 70%; }
      @media only screen and (max-width: 75em) {
        .genie__container--img {
          width: 50%; } }
      @media only screen and (max-width: 56.25em) {
        .genie__container--img {
          width: 50%; } }
    .genie__container--text {
      width: 70%;
      padding: 3rem 3rem; }
      @media only screen and (max-width: 75em) {
        .genie__container--text {
          width: 50%; } }
      @media only screen and (max-width: 56.25em) {
        .genie__container--text {
          width: 50%; } }
    .genie__container--blog {
      width: 70%;
      padding: 3rem 3rem; }
      @media only screen and (max-width: 75em) {
        .genie__container--blog {
          width: 50%; } }
      @media only screen and (max-width: 56.25em) {
        .genie__container--blog {
          width: 50%; } }
  .genie__img {
    border-radius: 50%;
    border: 0.5px solid #f5970b;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    display: flex;
    margin: 0 auto; }
    @media only screen and (max-width: 37.5em) {
      .genie__img {
        height: 15rem;
        width: 15rem; } }
  .genie__about {
    font-size: 1.5rem;
    color: #333; }
    @media only screen and (max-width: 75em) {
      .genie__about {
        text-align: center;
        font-size: 2.3rem; } }
    @media only screen and (max-width: 56.25em) {
      .genie__about {
        font-size: 2.3rem;
        text-align: center; } }
  .genie__blog {
    font-size: 1.5rem; }
    @media only screen and (max-width: 75em) {
      .genie__blog {
        text-align: center;
        font-size: 2.3rem; } }
    @media only screen and (max-width: 56.25em) {
      .genie__blog {
        font-size: 2.3rem;
        text-align: center; } }
  .genie__list {
    list-style: none;
    padding-left: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .genie__list {
        padding: 0; } }
  .genie__item {
    padding: .8rem;
    font-weight: 500;
    padding: 2rem 0rem .5rem 0; }
  .genie__link {
    text-decoration: none;
    color: #333;
    padding: 3px;
    border-bottom: 0.5px solid #b08cf4; }
  .genie__private {
    grid-column: 2 / 3;
    background-color: #b08cf4a8;
    color: #fff;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    padding: 2rem 0;
    border-radius: 1rem;
    margin-top: 5rem;
    display: grid;
    justify-content: center; }
    @media only screen and (max-width: 75em) {
      .genie__private {
        height: 85%;
        width: 55%;
        justify-content: center;
        align-items: center;
        margin: 3rem auto 0 auto; } }
    @media only screen and (max-width: 56.25em) {
      .genie__private {
        justify-content: center;
        align-items: center;
        width: 70%; } }
    @media only screen and (max-width: 37.5em) {
      .genie__private {
        justify-content: center;
        align-items: center;
        width: 100%; } }
    .genie__private--heading {
      font-size: 2rem;
      margin-bottom: .5rem;
      text-align: center; }
      @media only screen and (max-width: 37.5em) {
        .genie__private--heading {
          font-size: 1.5rem;
          padding: 0 .5rem; } }
    .genie__private--form {
      margin: 0 auto; }
    .genie__private--item {
      list-style: none;
      padding: .5rem; }
    .genie__private--input {
      width: 25rem;
      border-radius: 1rem;
      padding: 1rem;
      outline: none;
      color: #333;
      font-size: 1rem;
      margin: 0 auto; }
      @media only screen and (max-width: 56.25em) {
        .genie__private--input {
          width: 25rem;
          margin: 0 auto; } }
      @media only screen and (max-width: 37.5em) {
        .genie__private--input {
          width: 13rem;
          margin: 0 auto; } }
    .genie__private--btn {
      margin-left: 35%; }
      @media only screen and (max-width: 37.5em) {
        .genie__private--btn {
          margin-left: 20%; } }

/*INFORMATION PAGE*/
.info {
  grid-column: col-start 1 / col-end 10; }

.about-line {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #333, #ccc); }

.about {
  background-color: #b08cf4a8;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  margin: 6rem 3rem;
  padding-bottom: 4rem;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, minmax(min-content, 1fr)); }
  @media only screen and (max-width: 37.5em) {
    .about {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center; } }
  .about__container {
    height: 17rem;
    width: 30rem;
    padding: 2rem 2rem;
    background-color: #f7f1a8a8;
    border-radius: 1rem;
    margin: 5rem 4rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 37.5em) {
      .about__container {
        height: 15rem;
        width: 25rem;
        margin: 3rem 0; } }
  .about__heading {
    margin: 3rem 0;
    display: grid;
    grid-column: 1 / span 3; }
    @media only screen and (max-width: 75em) {
      .about__heading {
        text-align: center; } }
    @media only screen and (max-width: 56.25em) {
      .about__heading {
        text-align: center;
        font-size: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .about__heading {
        font-size: 1.7rem;
        text-align: center; } }
  .about-tertiary {
    grid-column: 1 / span 3;
    font-size: 3rem;
    font-weight: 400; }
    @media only screen and (max-width: 75em) {
      .about-tertiary {
        text-align: center; } }
    @media only screen and (max-width: 56.25em) {
      .about-tertiary {
        text-align: center;
        font-size: 2.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .about-tertiary {
        font-size: 1.5rem; } }
  .about__paragraph {
    font-size: 2rem;
    padding: 1rem 0; }
    @media only screen and (max-width: 37.5em) {
      .about__paragraph {
        font-size: 1.5rem; } }

/*CARD READINGS*/
.cards {
  grid-column: col-start 1 / col-end 10; }

.reading {
  background-color: #b08cf4a8;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  margin: 6rem 3rem;
  padding-bottom: 4rem;
  display: grid;
  justify-items: center;
  /*CARD READINGS RESULTS

The card is divide to left and right sides.*/ }
  .reading__heading {
    margin: 3rem 0; }
    @media only screen and (max-width: 37.5em) {
      .reading__heading {
        font-size: 2.3rem;
        text-align: center;
        margin: 1.5rem 0; } }
  .reading__info {
    padding: 0 6rem; }
    @media only screen and (max-width: 37.5em) {
      .reading__info {
        padding: 0 1rem; } }
  .reading__container {
    margin: 3rem 1rem 0 1rem;
    display: flex; }
    @media only screen and (max-width: 75em) {
      .reading__container {
        display: grid;
        align-content: center;
        justify-content: center;
        align-self: center;
        margin: 0 auto; } }
  .reading__cupid {
    background-color: #b08cf4;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    padding: 0 1rem;
    display: grid;
    justify-items: center;
    align-content: space-evenly; }
    @media only screen and (max-width: 75em) {
      .reading__cupid {
        display: flex;
        justify-self: center;
        flex-direction: column;
        align-items: center;
        margin: 2rem auto;
        padding-bottom: 4rem; } }
    @media only screen and (max-width: 56.25em) {
      .reading__cupid {
        display: flex;
        justify-self: center;
        flex-direction: column;
        align-items: center;
        margin: 2rem auto;
        padding-bottom: 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .reading__cupid {
        margin: 2.5rem;
        box-shadow: none; } }
  .reading__guidance {
    background-color: #b08cf4;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    margin-left: 3rem;
    padding-bottom: 2rem;
    display: grid;
    justify-items: center;
    align-content: space-evenly; }
    @media only screen and (max-width: 75em) {
      .reading__guidance {
        display: flex;
        justify-self: center;
        flex-direction: column;
        align-items: center;
        margin: 4rem auto 0 auto; } }
    @media only screen and (max-width: 56.25em) {
      .reading__guidance {
        display: flex;
        justify-self: center;
        flex-direction: column;
        align-items: center;
        margin: 2rem auto 0 auto;
        padding-bottom: 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .reading__guidance {
        margin: 2.5rem;
        box-shadow: none; } }
  .reading__large {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 1.5rem 0;
    color: #fff;
    padding: 0 14rem; }
    @media only screen and (max-width: 37.5em) {
      .reading__large {
        font-size: 2rem;
        text-align: center; } }
  .reading__paragraph {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 1rem 0;
    color: #fff;
    padding: .5rem 5rem; }
    @media only screen and (max-width: 37.5em) {
      .reading__paragraph {
        font-size: 2rem;
        text-align: center; } }
  .reading__input {
    padding: 1rem 2rem;
    display: flex;
    align-items: center; }
    .reading__input--number {
      height: 2rem;
      width: 10rem;
      font-size: 1.5rem;
      border-radius: 1rem;
      outline: none;
      color: #333;
      color: #333;
      width: 20rem;
      padding-left: 1.5rem;
      margin-right: 2.5rem; }
      @media only screen and (max-width: 37.5em) {
        .reading__input--number {
          width: 14.5rem;
          font-size: .2rem;
          padding: 0 0; } }
    .reading__input--color {
      height: 2rem;
      width: 10rem;
      font-size: 1.5rem;
      border-radius: 1rem;
      outline: none;
      color: #333;
      margin-right: 2.5rem; }
      @media only screen and (max-width: 37.5em) {
        .reading__input--color {
          width: 5rem; } }
    .reading__input--direction {
      height: 2rem;
      width: 10rem;
      font-size: 1.5rem;
      border-radius: 1rem;
      outline: none;
      color: #333; }
      @media only screen and (max-width: 37.5em) {
        .reading__input--direction {
          width: 5rem; } }
  .reading-heading {
    font-size: 3rem;
    border-bottom: 2px solid #f7f1a8; }
    @media only screen and (max-width: 75em) {
      .reading-heading {
        font-size: 3.5rem; } }
  .reading-tertiary {
    padding: 0 2rem; }
    @media only screen and (max-width: 75em) {
      .reading-tertiary {
        padding: 1rem 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .reading-tertiary {
        padding: 0 1rem;
        margin: 0; } }
  .reading-guide {
    font-style: italic;
    padding: 0 2rem; }
    @media only screen and (max-width: 37.5em) {
      .reading-guide {
        padding: 0 1rem;
        margin: 0; } }
  .reading-guidance {
    font-style: italic;
    border-bottom: none; }
    @media only screen and (max-width: 75em) {
      .reading-guidance {
        padding: 1rem 0;
        font-size: 2.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .reading-guidance {
        padding: 0; } }
  .reading__content {
    margin: 6rem 2rem 2rem 2rem;
    border-radius: 2rem;
    background-image: url(../img/parch.jpg);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    background-size: cover;
    overflow: hidden;
    width: 85%;
    padding: 2rem 2rem;
    display: flex; }
    @media only screen and (max-width: 75em) {
      .reading__content {
        width: 60%;
        justify-content: center;
        flex-direction: column; } }
    @media only screen and (max-width: 37.5em) {
      .reading__content {
        width: 80%; } }
  .reading__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem 5rem 2rem 3rem;
    width: 60%; }
    @media only screen and (max-width: 75em) {
      .reading__left {
        margin: 0 auto; } }
    @media only screen and (max-width: 37.5em) {
      .reading__left {
        display: none; } }
    .reading__left--img {
      border-radius: 5rem;
      border: 2rem solid #b08cf4;
      width: 50rem; }
      @media only screen and (max-width: 75em) {
        .reading__left--img {
          width: auto; } }
      @media only screen and (max-width: 56.25em) {
        .reading__left--img {
          width: 110%; } }
  .reading__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #b08cf4;
    border-radius: 5rem;
    margin: 2rem 3.3rem 2rem 0;
    width: 60%; }
    @media only screen and (max-width: 75em) {
      .reading__right {
        margin: 3rem auto;
        padding: 1rem 1rem;
        height: 90rem;
        width: 78%; } }
    @media only screen and (max-width: 56.25em) {
      .reading__right {
        width: 70%; } }
    @media only screen and (max-width: 37.5em) {
      .reading__right {
        width: 85%; } }
    .reading__right--num {
      font-size: 2.5rem; }
      @media only screen and (max-width: 75em) {
        .reading__right--num {
          font-size: 2rem; } }
      @media only screen and (max-width: 37.5em) {
        .reading__right--num {
          font-size: 1.5rem; } }
    .reading__right--text {
      font-size: 1.7rem;
      color: #fff;
      padding: 0 3rem;
      text-align: center;
      border: 1.2rem solid #f5970b;
      border-radius: 2rem;
      margin: 0 2rem; }
      @media only screen and (max-width: 75em) {
        .reading__right--text {
          font-size: 2rem;
          padding: 1rem 2rem; } }
      @media only screen and (max-width: 37.5em) {
        .reading__right--text {
          font-size: 1.2rem;
          border: 0.5rem solid #f5970b;
          margin: 0 1rem;
          padding: 1rem 1rem; } }
    .reading__right--genie {
      font-size: 1.8rem; }
      @media only screen and (max-width: 37.5em) {
        .reading__right--genie {
          font-size: 1rem; } }
    .reading__right--placeHolder {
      padding: 0 1rem;
      font-size: 4rem;
      text-align: center;
      color: #fff; }
      @media only screen and (max-width: 37.5em) {
        .reading__right--placeHolder {
          font-size: 2rem;
          text-align: center; } }

/*TESTIMONIALS*/
.users {
  grid-column: col-start 1 / col-end 10; }

.user {
  background-color: #b08cf4a8;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  margin: 6rem 3rem;
  padding-bottom: 4rem;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, minmax(min-content, 1fr)); }
  @media only screen and (max-width: 75em) {
    .user {
      grid-template-columns: repeat(2, minmax(min-content, 1fr)); } }
  @media only screen and (max-width: 37.5em) {
    .user {
      grid-template-columns: repeat(1, minmax(min-content, 1fr)); } }
  .user__card {
    background-color: #f7f1a8a8;
    color: #333;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 3rem 1rem;
    margin: 5rem 2rem;
    height: 60%;
    width: 65%;
    display: grid;
    justify-items: center;
    justify-content: space-evenly; }
    @media only screen and (max-width: 37.5em) {
      .user__card {
        margin: 3rem 0; } }
  .user__fig {
    display: flex;
    margin-top: 3rem; }
    @media only screen and (max-width: 75em) {
      .user__fig {
        margin: 2rem auto 0 auto; } }
  .user__box {
    padding-left: 1.5rem; }
  .user__img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    margin-left: 3rem; }
    @media only screen and (max-width: 75em) {
      .user__img {
        margin: 0 auto; } }
  .user__name {
    font-size: 1.8rem;
    margin: 1.3rem 5rem 0 0; }
    @media only screen and (max-width: 75em) {
      .user__name {
        margin: 0 auto;
        padding-top: 1.8rem; } }
  .user__quote {
    text-align: center;
    border-bottom: 0.2px solid #f5970b;
    font-style: italic;
    font-size: 1.8rem; }
  .user-heading {
    grid-column: 1 / -1;
    margin: 3rem 0; }
    @media only screen and (max-width: 75em) {
      .user-heading {
        text-align: center; } }
    @media only screen and (max-width: 56.25em) {
      .user-heading {
        text-align: center;
        font-size: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .user-heading {
        font-size: 2rem; } }

/*FOOTER*/
.footer {
  background-color: #777;
  grid-column: full-start / full-end;
  margin-top: 3rem;
  height: 15rem; }
  .footer__text {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 5rem; }
  .footer__nav {
    display: grid;
    justify-content: center;
    margin-top: 2rem; }
  .footer__box {
    padding-top: 1rem; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block;
    margin-left: 2rem;
    margin-right: 3rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    font-size: 1.5rem;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    color: #fff; }
  .footer__link:hover, .footer__link:active {
    border-bottom: 1px solid #b08cf4; }

/*HEADER*/
.header {
  grid-column: full-start / full-end;
  background-image: linear-gradient(to left top, rgba(176, 140, 244, 0.6), rgba(247, 241, 168, 0.6)), url(../img/psyche-header.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__text {
    position: absolute;
    margin-left: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .header__text {
        position: relative;
        margin: 0 auto;
        text-align: center; } }

/*HEADER NAVIGATION*/
.nav {
  display: grid;
  justify-content: end; }
  @media only screen and (max-width: 56.25em) {
    .nav {
      display: none; } }
  .nav__box {
    padding-top: 1rem; }
  .nav__list {
    list-style: none; }
  .nav__item {
    display: inline-block;
    margin: 0 3rem 0 2rem; }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    font-size: 2rem;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    color: #fff; }
  .nav__link:hover, .nav__link:active {
    border-bottom: 2px solid #b08cf4; }
