/*SIDEBAR BLOG*/
.sidebar {
    grid-column: col-start 9 / -1;
    grid-row: 2 / span 4;
    background-color: $color-secondary-background;
    font-size: 1.5rem;
    border-left: 3px solid $color-primary-background;

    &__blog {
        display: grid;
        // background-color: var(--color-primary-background);
        // box-shadow: var(--box-shadow-dark);
        justify-items: center;
        margin: 6rem 2rem;
        padding: 2rem 1rem;
        border-radius: 1rem;
        
        
        &--list {
            list-style: none;
            padding: 3px;
        }
    
        &--item {
            @include item-style;
        }
    
        &--link {
            @include link-style;
        }
    
        &--heading {
            font-size: 2rem;
            margin-bottom: 1.5rem;
            color: $color-grey-dark-1;
            border-bottom: 1.5px solid $color-primary;
        }
    }
}

.sidebar-line {
    @include hr;
}